<section class="partners">
  <div class="container partners__container">
    <h5 class="partners__title">С нами работают</h5>

    <ul class="partners__list">
      <li class="partners__item">
        <div class="partner__img">
          <img src="assets/img/logo_partner1.svg" alt="partner">
        </div>
        <p>Партнёр 1</p>
      </li>
      <li class="partners__item">
        <div class="partner__img">
          <img src="assets/img/logo_partner2.svg" alt="partner">
        </div>
        <p>Компания-партнер с длинным названием</p>
      </li>
      <li class="partners__item">
        <div class="partner__img">
          <img src="assets/img/logo_partner3.svg" alt="partner">
        </div>
        <p>Партнёр 3</p>
      </li>
      <li class="partners__item">
        <div class="partner__img">
          <img src="assets/img/logo_partner4.svg" alt="partner">
        </div>
        <p>Название партнёра 4</p>
      </li>
      <li class="partners__item">
        <div class="partner__img">
          <img src="assets/img/logo_partner5.svg" alt="partner">
        </div>
        <p>Компания-партнёра 5</p>
      </li>
      <li class="partners__item">
        <div class="partner__img">
          <img src="assets/img/logo_partner6.svg" alt="partner">
        </div>
        <p>Партнер 6 с длинным названием</p>
      </li>
    </ul>
  </div>
</section>