<div class="popup">
  <div class="popup__content">
    <div class="popup__close">
      <div class="item"></div>
    </div>
    <p class="popup__title">Введите логин и пароль для входа в Личный кабинет</p>

    <form action="#" class="popup__form">
      <input type="text" placeholder="Логин" name="login">
      <input type="password" placeholder="Пароль" name="password">
      <button class="btn" type="submit">Войти</button>
    </form>

    <a class="popup__link" href="#">Напомнить пароль</a>
    <br>
    <a class="popup__link" href="#">Регистрация</a>

  </div>
</div>

<div class="popup__overlay"></div>